.profile__edit-button {
  width: 24px;
  height: 24px;
  border: 1px solid var(--color-white);
  background-image: url(../../../images/edit-button.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}